container_commands:
    02migrations:
        command: |
            php artisan migrate --force

    03clearcache:
            command: |
                php artisan cache:clear
                php artisan config:clear
                php artisan view:clear

    04writable_dirs:
            command: |
                mkdir /var/app/ondeck/storage/app/db-blade-compiler/views
                chmod -R 777 /var/app/ondeck/storage
       
files:
    "/etc/php.d/showroomz.ini" :
        mode: "000644"
        owner: webapp
        group: webapp
        content: |
            upload_max_filesize=64M
            post_max_size=64M
            max_file_uploads=25

    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
        mode: "000777"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            echo "Making /storage writeable..."
            chmod -R 777 /var/app/current/storage

            if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
                echo "Creating /storage/logs/laravel.log..."
                touch /var/app/current/storage/logs/laravel.log
                chown webapp:webapp /var/app/current/storage/logs/laravel.log
            fi

            if [ ! -d /var/app/current/public/storage ]; then
                echo "Creating /public/storage symlink..."
                ln -s /var/app/current/storage/app/public /var/app/current/public/storage
            fi
